@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.menu_top {
    position: fixed;
    margin-top: 60px;
}

.grid {
    margin-top: 72px;
}

.center {
    display: block;
    margin: 0 auto
}

