@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.menu_top {
    position: fixed;
    width: 100%;
    margin-top: 60px;
}

.grid {
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin: 0 auto
}