@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.menu_top {
    position: fixed;
    margin-top: 60px;
}

.grid {
    margin-top: 72px;
}

.center {
    display: block;
    margin: 0 auto
}

.cardSize {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardFont {
    font-size: 25px;
}

.miniFont {
    font-size: 1.5vmin;
}

@media screen and (max-width: 530px) {
    .cardSize {
        width: 125px;
        height: 125px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cardFont {
        font-size: 15px;
    }
    .deskContent {
        display: none;
    }
}



