@using MudBlazor
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavManager

<MudAppBar Style="@($"color:{Colors.Shades.White};background:{Colors.Grey.Darken4};")" Fixed="true">
    <MudIconButton Color="Color.Inherit" Icon="fas fa-flask" Link=@(NavManager.BaseUri+"experiment")></MudIconButton>
    <MudIconButton Variant="Variant.Text" Color="Color.Inherit" Icon="@Icons.Material.Filled.CatchingPokemon" Link="@(NavManager.BaseUri+"pokemon")"></MudIconButton><div class="deskContent">Pokemon</div>
    <MudIconButton Variant="Variant.Text" Color="Color.Inherit" Icon="fas fa-pastafarianism" Link="@(NavManager.BaseUri+"digimon")"></MudIconButton><div class="deskContent">Digimon</div>

    <MudSpacer />
    <h1 class="deskContent">koloro</h1>
    <MudIconButton Variant="Variant.Text" Icon="fas fa-cat" Target="_blank" Color="Color.Inherit" OnClick="() => { GoToUrl(github).GetAwaiter(); }" />
</MudAppBar>


@code{
    private string github = "https://github.com/danijerez";
    private async Task GoToUrl(string url)
    {
        await JSRuntime.InvokeAsync<object>("open", url, "_blank");
    }
}